main {
	width: 98%;
	margin-top: 20px;
	margin-left: 1%;
	margin-right: 1%;
	box-shadow: -1px -1px 7px rgb(167, 167, 167);
	padding: 12px;
}

#top, #products, #details, .product {
	padding: 10px;
}

.pricetag::before {
	content: '₹ ';
}

.product-image {
	border: 1px ridge rgb(196, 196, 196);
}

form > div {
	margin-top: 4px;
}